body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  width: 100vw;
  height: 100vh;
}
#root {
  height: 100%;
  width: 100%;
}
.app {
  display: grid;
  grid-template-rows: .5fr 10fr 1fr;
  height: 100%
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
  gap: 35px;
}

.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 25px;
  padding: 5px;
  height: 100%;
}

.main > div {
  border: 1px solid black;
  border-radius: 8px;
  background-color: whitesmoke;
  width: 250px;
  padding: 10px;
  
}

.main > div > form  {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main > div >form > div{
  
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

form > div:first-child {
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}
input {
  width: 40%;
}
textarea {
  width: 100%;
  max-height: 180px;
  resize: none;
}
.cv {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  border: 1px solid black;
  background-color: whitesmoke;
  height: 90%;
  padding: 5px;
  width: 50vw;
  gap:15px;
}

.subject {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90%;
}

.workTitle, .edTitle {
  border-bottom: 1px solid black;
  font-size: 18px;
}
.genCV {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 10px;
  padding-bottom: 2px;
}
.genCV >div:first-child {
  font-weight: 500;
  font-size: 25px;
}

.genCV > div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.workGroup, .edGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edCV > div:first-child, .workCV > div:first-child {
  display: flex;
  justify-content: space-between;
}
.edCV > div > div:first-child,.workCV >div>div:first-child  {
  font-size: 18px;
  font-weight: 500;
}


