:root {
  --h1-size: 40px;
  --h2-size: 30px;
  --h3-size: 25px;
  --h4-size: 20px;
  --body-size: 16px;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
  font-size: var(--body-size);
}

code {
  font-family: Helvetica, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}
.app {
  display: grid;
  grid-template-rows: .5fr 10fr 1fr;
  height: 100%
}
.content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content:center;
  align-content: center;
  gap: 50px;
}
.header,.footer {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h1-size);
}
.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  gap: 5px;
  font-size: 15px;
  font-style: italic;
  padding-bottom: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
}

.main > div {
  border: 1.5px solid #3f3f46;
  width: 300px;
  padding: 10px;
  transition: .3s;
  background-color: #fafafa;
}

.main >div:hover {
  box-shadow: 4px 4px #3f3f46;
  transition: .3s;
}

.main > div > form  {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button{
  background-color: white;
  border: 1px solid;
  padding: 3px;
  padding-inline: 20px;
  transition: .4s;
}
button:hover{
  transition: .4s;
  background-color: #3f3f46;
  border-color: black;
  color: white;
}
.main > div >form > div{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

form > div:first-child {
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}
input {
  width: 40%;
}
textarea {
  width: 100%;
  max-height: 200px;
  resize: none;
}
.cv {
  display: flex;
  font-size: var(--body-size);
  flex-direction: column;
  align-self: center;
  border: 1.5px solid #3f3f46;
  background-color: white;
  height: 80vh;
  width: 65vh;
  padding: 5px;
  gap:15px;
}

.subject {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  height: 90%;
}

.workTitle, .edTitle {
  border-bottom: 1px solid black;
  font-size: var(--h3-size);
}
.genCV {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: calc(var(--body-size)* .8);
  padding-bottom: 2px;
}
.genCV >div:first-child {
  font-weight: 500;
  font-size: var(--h1-size);
}

.genCV > div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.workGroup, .edGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edCV,.workCV {
  padding-top: 5px;
}
.edCV > div:first-child, .workCV > div:first-child {
  display: flex;
  justify-content: space-between;
}
.edCV > div > div:first-child,.workCV >div>div:first-child  {
  font-size: var(--h4-size);
  font-weight: 500;
}
.workCV > :nth-child(3){
  white-space: pre-wrap;

}

